@import '../../styles/variables';

header {
	height: $header-height;
	background-color: $black-with-alpha;
  display: flex !important;
  align-items: center;

  .logo {
    background-color: $orangered;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    width: 170px;
    text-align: center;
    padding: 7px 0;
    margin-left: 15%;
  }
}
